<div class=" menu">
  <nav>
    <mat-list>
      <mat-list-item routerLink="/index/produtos" routerLinkActive="linkAtivo">
        <div mat-line>Produtos</div>
        <i class="bi bi-folder"></i>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item routerLink="/index/clientes" routerLinkActive="linkAtivo">
        <div mat-line>Clientes</div>
        <i class="bi bi-people-fill"></i>
      </mat-list-item>
      <mat-divider></mat-divider>

    </mat-list>
  </nav>


</div>
