.detalhes {
  width: 500px;
  height: 200px;
  font-size: 1.2em;
  margin-left: 20px;
}

h1 {
  padding-bottom:0 ;
  margin-bottom:0;
}

h3 {
  font-style: italic;
}

span {
  font-weight: bold;
}

div {
  padding: 5px;
}
